.container{
    /*width:80%;*/
    width:800px;
    height:500px;
    border:1px solid black;
}
.up{
    width:100%;
    background:purple;
    height:50px;
}
.left{
    background:red;
    height:100%;
    width:200px;
    float:left;
}
.middle{
    /*margin-left:200px;*/
    /*margin-right:200px;*/
    float:left;
    height:100%;
    width:400px;
    background:green;
}
.right{
    background:blue;
    height:100%;
    float:right;
    width:200px;
}
@media (max-width: 800px){
    .left{
        /*display:none;*/
        width:50%;
    }
    .container{
        /*height:1000px;*/
    }
    .middle{
        width:50%;
    }
    .right{
        display:none;
    }
}
@media (max-width: 640px){
    .left{
        /*display:none;*/
        width:100%;
    }
    .container{
        /*height:1000px;*/
    }
    .middle{
        width:100%;
    }
    .right{
        width:100%;
    }
}